body {
    background: rgb(213, 233, 103);
}

h1, h2{
    font-size: 60px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
}

button {
    display: block;
    margin: auto;
    background: black;
    color: white;
    height: 35px;
}
.container {
    width: 600px;
    margin: auto;
    border: 1px solid black;
}

.awan {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    float: left;
}

.awan::after {
    content: '';
    display: block;
    width: 200px;
    height: 100px;
    background: url(../img/pixlr-bg-result.png) bottom center no-repeat;
    background-size: 90%;
    position: absolute;
    bottom: -25px;
}

.naruto {
    width: 100%;
    height: 100%;
    background: url(../img/gambar-naruto-.png) bottom center no-repeat;
    background-size: 60%;
    position: absolute;
    top: 100px;
    transition: top 0.3s;
}

.awan.muncul.muncul .naruto {
    top: 0;
}